body {
	background-color: #D8D8D8;
	font-family: sans-serif;
}

.header {
	height: 180px;
	width: 450px;
	background-color: white;
	margin: 20px;
	font-size: 14;
	padding: 20px;
	position: relative;
}

.button {
	font-family: sans-serif;
	font-size: 20;
	color: white;
	padding: 10px 30px;
	position: absolute;
}

.red {
	background-color: #D0021B;
	margin-bottom: 20px;
	bottom: 0px;
}

.blue {
	background-color: #4A90E2;
	margin-bottom: 20px;
	bottom:0px;
	left: 135px;
}
.body {
	width: 450px;
	height: 380px;
	padding: 20px;
	background-color: white;
	margin: 20px;
	font-size: 14px;
}
.image {
	background-color: #4A4A4A;
/*	background-image: url(https://www.google.com/images/nav_logo242.png);
*/	color: white;
	height: 240px;
	font-size: 25;
	display:flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}
footer {
	font-size:16;
	display:flex;
	justify-content: flex-end;
	height: 50px;
	width: 540px;
	background-color: #333333;
	margin-top: 40px;
	color: white;
	text-decoration:none;
}
li {
	display: inline;
	margin-right: 50px;
}