body {
	font-family: sans-serif;
	margin: 0;
}
ul {
	padding-left: 30px;
}
li {
	color: white;
	font-size: 14;
	display: inline;
	padding-right: 20px;
}
header {
	height: 70px;
	width: 600px;
	background-color: #333333;
	display: flex;
	justify-content: flex;
	align-items: center;
}
.column {
	font-size: 28;
	padding-top: 60px;
	padding-left: 30px;
	width: 540px;
	float:left;
/*	-webkit-column-count: 2;
	-webkit-column-gap: 60px;*/
}
p {
	font-size: 10
}
.left {
	width:50%;
	float:left;
}
.righttop {
	background-color: #D8D8D8;
	width:50%;
	height: 200px;
	float:left;
	display: inline-block;
}
.right {
	width:50%;
	float:right;
	padding-top: 20px;
}
footer {
	height: 70px;
	width: 600px;
	background-color: #333333;
	margin-top: 70px;
	clear:both;
}