.red {
	background-color: #D0021B;
}

.blue {
	background-color: #4A90E2;
}

.grey {
	background-color: #4A4A4A;
}

.header {
	margins:10px;
}

.banner {
	height: 100px;
	width: 150px;
	display: inline-block;
}

.top {
	margin: 10px;
}

.words {
	width: 515px;
}

p {
	font-family: sans-serif;
	margin-bottom: 25px;
}

.middle {
	margin-top: 40px;
	margin-bottom: 20px;
	width: 515px;
	height: 200px;
}

.left {
	width: 33%;
	height: 100%;
	float:left;
}

.right {
	width: 66%;
	height: 100%;
	display:inline-block;
}

.third {
	width: 33%;
}

.rd {
	width: 66%;
	float: left;
}

.td {
	width: 5%;
	float: left;
}

.md {
	width: 24%;
	float:left;
}